body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 16px;
}

.imagetext{
    font-weight: bold;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.imagetextbelow{
    font-weight: bold;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 5px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 5px 0;
    font-size: 16px;
}

button {
    background-color:#7187fd;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #4C68FF;
}

.result-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.neutral-div {
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.custom-div {
    background: white;
    width: 100px; /* Set a fixed width for the square */
    height: 100px; /* Set a fixed height for the square */
    margin-right: 10px; /* Add some space between squares */
    border-radius: 10px;
    box-shadow: 4px 4px 10px #9d9d9d, -4px -4px 10px #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
    cursor: pointer; 
}

.custom-div img {
    width: 60%; /* Make the image width 100% of its parent */
    height: 60%; /* Make the image height 100% of its parent */
    object-fit: contain; /* This ensures the image covers the div without distortion */
    transition: transform 0.3s; /* Add a transition for smooth zoom effect */
}

/* Ensure that the last square doesn't have margin-right */
.custom-div:last-child {
    margin-right: 0;
}

.custom-div:hover img {
    transform: scale(1.1); /* Zoom in the image on hover */
}

p{
    text-align: right;
}


